/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* ==== Colours ==== */
:root{
    --body-color: #dcdcdc;
    --nav-color: #ffffff;
    --side-nav:#d9d9d9 ;
    --text-color: #000000;
    --search-bar: #ffffff;
    --search-text: #010718;
    --blip-color: #2E266D;
    --boxL-color: #303030;
    --Diamond: #2E266D;
    --text-colorh: #ffffff;
    --mini-box: #53565a;
    --lets-get-started: #151f9b;
    --footer-Text: #CCC;
    --footer-Color: #151f9b;


    transition: 1s;

}

body{
    height: 100vh;
    background-color: var(--body-color);
    overflow-x: hidden;

    transition: 1s;
    
}

body.dark{
    /*This is the color for the dark mode*/
    --body-color: #333333;
    --nav-color: #242526;
    --side-nav:#242526 ;
    --text-color: #CCC;
    --search-bar: #242526;
    --blip-color: #FFFFFF;
    --boxL-color: #555555;
    --Diamond: #2E266D;
    --text-colorh: #ffffff;
    --mini-box: #53565a;
    --lets-get-started: #ffffff;
    --footer-Text:  #CCC;
    --footer-Color: #151f9b;

    transition: 1s;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;

    transition: 1s;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--search-bar);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    transition: 1s;
}

nav .nav-bar .siderbarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;

    transition: 1s;

}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin:0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--blip-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;   
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
opacity: 0;
pointer-events: none;
}

.dark-light.active i.sun{
opacity: 1;
 pointer-events: auto;
}

.dark-light.active i.moon{
opacity: 0;
pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
position: absolute;
bottom: -85px;
right: 5px;
height: 50px;
width: 300px;
display: flex;
align-items: center;
background-color: var(--nav-color);
padding: 3px;
border-radius: 6px;
box-shadow: 0 5px 5px rgba(red, green, blue, alpha);
opacity: 0;
pointer-events: none;
transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
content: '';
position: absolute;
right: 14px;
top: -4px;
height: 12px;
width: 12px;
background-color: var(--nav-color);
transform: rotate(-45deg);
z-index: -1;
}


.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);


}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}
@media (max-width: 790px){
    nav .nav-bar .siderbarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }
    
    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
      flex-direction: column;
      padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}






.ads{
    margin-top: 72px;
    height: 405px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: hidden;
    background: url("../Royal Horizons Website/Photos/apply_with_confidence.png");
}


.card_slideshow{
   
    height: 605px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    .glass{
        margin-top: 0.40cm;
        height: 578px;
        width: 1130px ;

        backdrop-filter: blur(2px) saturate(126%);
        -webkit-backdrop-filter: blur(2px) saturate(126%);
        background-color: rgba(125, 125, 125, 0.31);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
    }

    .container {
        margin: 10px;

        
        
    }
    
    .slider-wrapper {
        position: relative;
        max-width: 966px;
        margin: 0 auto;
    }
    
    .slider {
        display: flex;
        aspect-ratio: 16 / 9;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
        border-radius: 0.5rem;
        border: 3px solid var(--mini-box);
        -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
        scrollbar-width: none; /* Hide scrollbar Firefox */
    }
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    .slider::-webkit-scrollbar {
        display: none;
    }
    
    .slider img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
    }
    
    .slider-nav {
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    
    .slider-nav a {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.75;
        transition: opacity ease 250ms;
    }
    
    .slider-nav a:hover {
        opacity: 1;
    }
    

}





.cards_menu{
    height: 2681px;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    gap: 10px;
    background: url("../Royal Horizons Website/Photos/cards_backgrond.png");


    flex-direction: column;
    align-items: center;

    .cardbox1{
        margin-top: 10px;
        height: 515px;
        width: 70%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 5;
        overflow-x: hidden;
        overflow-y: hidden;



    display: flex;
    }

    
    .cardbox1 .boxleft{
        height: 100%;
        width: 70%;
        
            
        backdrop-filter: blur(2px) saturate(126%);
        -webkit-backdrop-filter: blur(2px) saturate(126%);
        background-color: rgba(125, 125, 125, 0.31);
        border: 1px solid rgba(255, 255, 255, 0.125);
        border-radius: 10px 0px 0px 10px;

        .logo{
            height: 50px;
            margin-left: 40px;
            margin-top: 20px;
        }

        .card{
            position: absolute;
            height: 150px;
            border-radius: 10px;
            margin-top: 100px;
            left: 40px;

        }

        .applynow button{
            margin-left: 40px;
            margin-top: 200px;
            height: 50px;
            width: 258px;
            font-size: 20px;
            font-weight: 500;

            background-color: var(--nav-color);
            color: var(--text-color);
            border-radius: 10px;
            border: 2px solid #151f9b;
            transition: 400ms;

            
        }

        .applynow button:hover{
            transform: scale(1.1);
        }

        .informations{
            color: var(--text-color);
            

            .name{
                position: absolute;
                margin-left: 350px;
                top: 100px;
                color: var(--text-color);
            }

            .fee{ 
                position: absolute;
                margin-left: 350px;
                top: 130px;
                font-size: 22px;
                color: var(--text-color);
            }

            .title{
                position: absolute;
                margin-left: 350px;
                top: 180px;
            }

            .description{
                position: absolute;
                margin-left: 350px;
                top: 230px;
                margin-right: 20px;

                font-size: 20px;
            }

            .title2{
                position: absolute;
                margin-left: 350px;
                top: 340px;
            }

            
            .description2{
                position: absolute;
                margin-left: 350px;
                top: 380px;
                margin-right: 20px;

                font-size: 20px;
            }
        }

        
        
    }

    .cardbox1 .boxright{
        height: 100%;
        width: 30%;
        background-color: var(--nav-color);
        border-radius: 0px 10px 10px 0px;
        
    }



    .cardbox2{
        margin-top: 10px;
        height: 515px;
        width: 70%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 5;
        overflow-x: hidden;
        overflow-y: hidden;



    display: flex;
    }

    
    .cardbox2 .boxleft{
        height: 100%;
        width: 70%;
        
            
        backdrop-filter: blur(2px) saturate(126%);
        -webkit-backdrop-filter: blur(2px) saturate(126%);
        background-color: rgba(125, 125, 125, 0.31);
        border: 1px solid rgba(255, 255, 255, 0.125);
        border-radius: 10px 0px 0px 10px;

        .logo{
            height: 50px;
            margin-left: 40px;
            margin-top: 20px;
        }

        .card{
            position: absolute;
            height: 150px;
            border-radius: 10px;
            margin-top: 100px;
            left: 40px;

        }

        .applynow button{
            margin-left: 40px;
            margin-top: 200px;
            height: 50px;
            width: 258px;
            font-size: 20px;
            font-weight: 500;

            background-color: var(--nav-color);
            color: var(--text-color);
            border-radius: 10px;
            border: 2px solid #151f9b;
            transition: 400ms;

            
        }

        .applynow button:hover{
            transform: scale(1.1);
        }

        .informations{
            color: var(--text-color);
            

            .name{
                position: absolute;
                margin-left: 350px;
                top: 100px;
                color: var(--text-color);
            }

            .fee{ 
                position: absolute;
                margin-left: 350px;
                top: 130px;
                font-size: 22px;
                color: var(--text-color);
            }

            .title{
                position: absolute;
                margin-left: 350px;
                top: 180px;
            }

            .description{
                position: absolute;
                margin-left: 350px;
                top: 230px;
                margin-right: 20px;

                font-size: 20px;
            }

            .title2{
                position: absolute;
                margin-left: 350px;
                top: 340px;
            }

            
            .description2{
                position: absolute;
                margin-left: 350px;
                top: 380px;
                margin-right: 20px;

                font-size: 20px;
            }
        }


        
    }

    .cardbox2 .boxright{
        height: 100%;
        width: 30%;
        background-color: var(--nav-color);
        border-radius: 0px 10px 10px 0px;
        
    }

    .cardbox3{
        margin-top: 10px;
        height: 515px;
        width: 70%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 5;
        overflow-x: hidden;
        overflow-y: hidden;



    display: flex;
    }

    
    .cardbox3 .boxleft{
        height: 100%;
        width: 70%;
        
            
        backdrop-filter: blur(2px) saturate(126%);
        -webkit-backdrop-filter: blur(2px) saturate(126%);
        background-color: rgba(125, 125, 125, 0.31);
        border: 1px solid rgba(255, 255, 255, 0.125);
        border-radius: 10px 0px 0px 10px;

        .logo{
            height: 50px;
            margin-left: 40px;
            margin-top: 20px;
        }

        .card{
            position: absolute;
            height: 150px;
            border-radius: 10px;
            margin-top: 100px;
            left: 40px;

        }

        .applynow button{
            margin-left: 40px;
            margin-top: 200px;
            height: 50px;
            width: 258px;
            font-size: 20px;
            font-weight: 500;

            background-color: var(--nav-color);
            color: var(--text-color);
            border-radius: 10px;
            border: 2px solid #151f9b;
            transition: 400ms;

            
        }

        .applynow button:hover{
            transform: scale(1.1);
        }

        .informations{
            color: var(--text-color);
            

            .name{
                position: absolute;
                margin-left: 350px;
                top: 100px;
                color: var(--text-color);
            }

            .fee{ 
                position: absolute;
                margin-left: 350px;
                top: 130px;
                font-size: 22px;
                color: var(--text-color);
            }

            .title{
                position: absolute;
                margin-left: 350px;
                top: 180px;
            }

            .description{
                position: absolute;
                margin-left: 350px;
                top: 230px;
                margin-right: 20px;

                font-size: 20px;
            }

            .title2{
                position: absolute;
                margin-left: 350px;
                top: 340px;
            }

            
            .description2{
                position: absolute;
                margin-left: 350px;
                top: 380px;
                margin-right: 20px;

                font-size: 20px;
            }
        }


        
    }

    .cardbox3 .boxright{
        height: 100%;
        width: 30%;
        background-color: var(--nav-color);
        border-radius: 0px 10px 10px 0px;
        
    }


    .cardbox4{
        margin-top: 10px;
        height: 515px;
        width: 70%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 5;
        overflow-x: hidden;
        overflow-y: hidden;



    display: flex;
    }

    
    .cardbox4 .boxleft{
        height: 100%;
        width: 70%;
        
            
        backdrop-filter: blur(2px) saturate(126%);
        -webkit-backdrop-filter: blur(2px) saturate(126%);
        background-color: rgba(125, 125, 125, 0.31);
        border: 1px solid rgba(255, 255, 255, 0.125);
        border-radius: 10px 0px 0px 10px;

        .logo{
            height: 50px;
            margin-left: 40px;
            margin-top: 20px;
        }

        .card{
            position: absolute;
            height: 150px;
            border-radius: 10px;
            margin-top: 100px;
            left: 40px;

        }

        .applynow button{
            margin-left: 40px;
            margin-top: 200px;
            height: 50px;
            width: 258px;
            font-size: 20px;
            font-weight: 500;

            background-color: var(--nav-color);
            color: var(--text-color);
            border-radius: 10px;
            border: 2px solid #151f9b;
            transition: 400ms;

            
        }

        .applynow button:hover{
            transform: scale(1.1);
        }

        .informations{
            color: var(--text-color);
            

            .name{
                position: absolute;
                margin-left: 350px;
                top: 100px;
                color: var(--text-color);
            }

            .fee{ 
                position: absolute;
                margin-left: 350px;
                top: 130px;
                font-size: 22px;
                color: var(--text-color);
            }

            .title{
                position: absolute;
                margin-left: 350px;
                top: 180px;
            }

            .description{
                position: absolute;
                margin-left: 350px;
                top: 230px;
                margin-right: 20px;

                font-size: 20px;
            }

            .title2{
                position: absolute;
                margin-left: 350px;
                top: 340px;
            }

            
            .description2{
                position: absolute;
                margin-left: 350px;
                top: 380px;
                margin-right: 20px;

                font-size: 20px;
            }
        }


        
    }

    .cardbox4 .boxright{
        height: 100%;
        width: 30%;
        background-color: var(--nav-color);
        border-radius: 0px 10px 10px 0px;
        
    }



    .cardbox5{
        margin-top: 10px;
        height: 515px;
        width: 70%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 5;
        overflow-x: hidden;
        overflow-y: hidden;



    display: flex;
    }

    
    .cardbox5 .boxleft{
        height: 100%;
        width: 70%;
        
            
        backdrop-filter: blur(2px) saturate(126%);
        -webkit-backdrop-filter: blur(2px) saturate(126%);
        background-color: rgba(125, 125, 125, 0.31);
        border: 1px solid rgba(255, 255, 255, 0.125);
        border-radius: 10px 0px 0px 10px;

        .logo{
            height: 50px;
            margin-left: 40px;
            margin-top: 20px;
        }

        .card{
            position: absolute;
            height: 150px;
            border-radius: 10px;
            margin-top: 100px;
            left: 40px;

        }

        .applynow button{
            margin-left: 40px;
            margin-top: 200px;
            height: 50px;
            width: 258px;
            font-size: 20px;
            font-weight: 500;

            background-color: var(--nav-color);
            color: var(--text-color);
            border-radius: 10px;
            border: 2px solid #151f9b;
            transition: 400ms;

            
        }

        .applynow button:hover{
            transform: scale(1.1);
        }

        .informations{
            color: var(--text-color);
            

            .name{
                position: absolute;
                margin-left: 350px;
                top: 100px;
                color: var(--text-color);
            }

            .fee{ 
                position: absolute;
                margin-left: 350px;
                top: 130px;
                font-size: 22px;
                color: var(--text-color);
            }

            .title{
                position: absolute;
                margin-left: 350px;
                top: 180px;
            }

            .description{
                position: absolute;
                margin-left: 350px;
                top: 230px;
                margin-right: 20px;

                font-size: 20px;
            }

            .title2{
                position: absolute;
                margin-left: 350px;
                top: 340px;
            }

            
            .description2{
                position: absolute;
                margin-left: 350px;
                top: 380px;
                margin-right: 20px;

                font-size: 20px;
            }
        }


        
    }

    .cardbox5 .boxright{
        height: 100%;
        width: 30%;
        background-color: var(--nav-color);
        border-radius: 0px 10px 10px 0px;
        
    }

    

}










footer{
   margin-top: 20px;
    background: var(--boxL-color);
    width: 100%;
    color: var(--footer-Text);
    transition: 1s;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: var(--footer-Color);
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: #f12020;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #f12020;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: var(--footer-Text);
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: var(--nav-color);
    padding-left: 10px;
    border: 1px solid #222222;
    color: var(--text-color);
    transition: 1s;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: var(--footer-Color);
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: var(--footer-Color);
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    color: var(--footer-Text);
  }
  .right form .btn button:hover{
    background: #000;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #FFFFFF;
  }
  .bottom center a{
    color: var(--footer-Color);
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }






















