/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* ==== Colours ==== */
:root{
    --body-color: #dcdcdc;
    --nav-color: #ffffff;
    --side-nav:#d9d9d9 ;
    --text-color: #000000;
    --search-bar: #ffffff;
    --search-text: #010718;
    --blip-color: #2E266D;
    --boxL-color: #303030;
    --Diamond: #2E266D;
    --text-colorh: #ffffff;
    --mini-box: #53565a;
    --lets-get-started: #151f9b;
    --footer-Text: #CCC;
    --footer-Color: #151f9b;


    transition: 1s;

}

body{
    height: 100vh;
    background-color: var(--body-color);
    overflow-x: hidden;

    transition: 1s;
    
}

body.dark{
    /*This is the color for the dark mode*/
    --body-color: #333333;
    --nav-color: #242526;
    --side-nav:#242526 ;
    --text-color: #CCC;
    --search-bar: #242526;
    --blip-color: #FFFFFF;
    --boxL-color: #555555;
    --Diamond: #2E266D;
    --text-colorh: #ffffff;
    --mini-box: #53565a;
    --lets-get-started: #ffffff;
    --footer-Text:  #CCC;
    --footer-Color: #151f9b;

    transition: 1s;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;

    transition: 1s;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--search-bar);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    transition: 1s;
}

nav .nav-bar .siderbarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;

    transition: 1s;

}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin:0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--blip-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;   
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
opacity: 0;
pointer-events: none;
}

.dark-light.active i.sun{
opacity: 1;
 pointer-events: auto;
}

.dark-light.active i.moon{
opacity: 0;
pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
position: absolute;
bottom: -85px;
right: 5px;
height: 50px;
width: 300px;
display: flex;
align-items: center;
background-color: var(--nav-color);
padding: 3px;
border-radius: 6px;
box-shadow: 0 5px 5px rgba(red, green, blue, alpha);
opacity: 0;
pointer-events: none;
transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
content: '';
position: absolute;
right: 14px;
top: -4px;
height: 12px;
width: 12px;
background-color: var(--nav-color);
transform: rotate(-45deg);
z-index: -1;
}


.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);


}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}
@media (max-width: 790px){
    nav .nav-bar .siderbarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }
    
    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
      flex-direction: column;
      padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}



.shell{ 
    margin-top: 70px;
    height: 658px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
  

}

    .container{
        margin-top: 50px;
        height: 500px;
        background-color: var(--nav-color);
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
    }
    
    .container p{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.3px;
        margin: 20px 0;
    }
    
    .container span{
        font-size: 12px;
    }
    
    .container a{
        color: var(--text-color);
        font-size: 13px;
        text-decoration: none;
        margin: 15px 0 10px;
    }
    
    .container button{
        background-color: var(--footer-Color);
        color: var(--text-colorh);
        font-size: 12px;
        padding: 10px 45px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .container button.hidden{
        background-color: transparent;
        border-color: #fff;
    }
    
    .container .Seperator{
        background-color: var(--nav-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        height: 100%;
    }
    
    .container input{
        background-color: #eee;
        border: none;
        margin: 8px 0;
        padding: 10px 15px;
        font-size: 13px;
        border-radius: 8px;
        width: 100%;
        outline: none;
    }
    
    .form-container{
        color: var(--text-color);
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }
    
    .sign-in{
        left: 0;
        width: 50%;
        z-index: 2;
    }
    
    .container.active .sign-in{
        transform: translateX(100%);
    }
    
    .sign-up{
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }
    
    .container.active .sign-up{
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: move 0.6s;
    }
    
    @keyframes move{
        0%, 49.99%{
            opacity: 0;
            z-index: 1;
        }
        50%, 100%{
            opacity: 1;
            z-index: 5;
        }
    }
    
    .Qr_Scanner_Stream{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 150px;
        width: 204px;
        border: 3px solid var(--text-color);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        

    }

    #video {
        position: absolute;
        width: 200px; /* Set the width to 100% */
        height: 200px;
        margin-bottom: 1px;
        margin-right: 1px;
        display: none; 
    }
    
    #scannedImage {
        position: absolute;
        width: 200px; /* Set the width to 100% */
        height: 200px;
        margin-bottom: 1px;
        margin-right: 1px;
        display: none; 
        opacity: 0;
    }
    #qrData {
        position: absolute;
        width: 200px; /* Set the width to 100% */
        height: 200px;
        margin-bottom: 1px;
        margin-right: 1px;
        display: none; 
        opacity: 0;
    }
    
    .social-icons a{
        border: 1px solid #ccc;
        border-radius: 20%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        width: 40px;
        height: 40px;
    }
    
    .toggle-container{
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        
       
    }
    
    .container.active .toggle-container{
        transform: translateX(-100%);
        
    }
    
    .toggle{
        background-color: var(--footer-Color);
        height: 100%;
        color: #fff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }
    
    .container.active .toggle{
        transform: translateX(50%);
    }
    
    .toggle-panel{
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;
        text-align: center;
        top: 0;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }
    
    .toggle-left{
        transform: translateX(-200%);
    }
    
    .container.active .toggle-left{
        transform: translateX(0);
    }
    
    .toggle-right{
        right: 0;
        transform: translateX(0);
    }
    
    .container.active .toggle-right{
        transform: translateX(200%);
    }




footer{
    background: var(--boxL-color);
    width: 100%;
    color: var(--footer-Text);
    transition: 1s;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: var(--footer-Color);
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: #f12020;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #f12020;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: var(--footer-Text);
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: var(--nav-color);
    padding-left: 10px;
    border: 1px solid #222222;
    color: var(--text-color);
    transition: 1s;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: var(--footer-Color);
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: var(--footer-Color);
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    color: var(--footer-Text);
  }
  .right form .btn button:hover{
    background: #000;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #FFFFFF;
  }
  .bottom center a{
    color: var(--footer-Color);
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }






















